<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   planner.plist
   pat's shs app 2.0

   Created by Daniel Bessonov on 1/19/16.
   Copyright (c) 2016 Dali Labs, Inc. All rights reserved.
-->
<plist version="1.0">
    <dict>
    
    </dict>
</plist>
